<StackLayout appHideActionBar class="nt-form"   justifyContent ="center" verticalAlignment="middle">
    <RadDataForm tkExampleTitle tkToggleNavButton [source]="serverSettings.connection" *ngIf="serverSettings">
        <TKEntityProperty tkDataFormProperty name="protocol" displayName="Protokol:" index="0" [valuesProvider]="protocolList">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="server" displayName="Ime" index="1"></TKEntityProperty>
    </RadDataForm>
    <Button text="Save settings" class="-primary -rounded-sm"  (tap)="saveServerSettings()" ></Button>
</StackLayout>

