<!--The content below is only a placeholder and can be replaced.-->
<ActionBar class="m-t-24">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>

    <ActionItem text="Dodaj aktivnost" (tap)="add()"
                ios.systemIcon="4" ios.position="right" android.position="popup">
    </ActionItem>

    <Label text="Danes"></Label>
</ActionBar>

<GridLayout tkExampleTitle tkToggleNavButton>
    <RadCalendar
            viewmode="Day"
            locale="sl-SI"
            [eventSource]="eventSource"
            (dayViewEventSelected)="onDayViewEventSelected($event)"
    ></RadCalendar>
</GridLayout>

