
<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" class="active" *ngIf="!router.url.split('/').includes('login')">
        <div class="sidebar-header">
<!--            <h3>Bootstrap Sidebar</h3>-->
            <div class="d-flex flex-column align-items-center">
                <i class="fa fa-user fa-2x" style="color:#6f6f6f;"></i>
                <h4 *ngIf="userData">
                    {{userData.Ime + ' ' + userData.Priimek}}
                </h4>
                <h4 *ngIf="userData">
                    {{userData.userName}}
                </h4>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li class="sidebar-item my-1" routerLinkActive="active">
                <a [routerLink]="['home']">
                    <div class="d-flex align-items-center p-2">
                        <i class="fa fa-fw fa-home sidebar-item-icon mr-2" style="color: #6f6f6f"></i>
                        <span class="sidebar-item-text">Danes</span>
                    </div>
                </a>
            </li>
            <li class="sidebar-item my-1" routerLinkActive="active">
                <a [routerLink]="['contacts']">
                    <div class="d-flex align-items-center p-2">
                        <i class="fa fa-fw fa-address-book sidebar-item-icon mr-2" style="color: #6f6f6f"></i>
                        <span class="sidebar-item-text">Kontaktne osebe</span>
                    </div>
                </a>
            </li>
            <li class="sidebar-item my-1" routerLinkActive="active">
                <a  (click)="logout()">
                    <div class="d-flex align-items-center p-2">
                        <i class="fas fa-sign-out-alt sidebar-item-icon mr-2" style="color: #6f6f6f"></i>
                        <span class="sidebar-item-text">Odjava</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content" style="height: 100vh">
        <div class="d-flex flex-column h-100">
            <div style="border-bottom: 1px solid #f6f6f6">
                <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-2" *ngIf="!router.url.split('/').includes('login')" style="background-color: #138091 !important;">
                    <div class="container-fluid px-0">

                        <button type="button" id="sidebarCollapse" class="btn btn-info btn-sm" (click)="onSideBarToggle($event)">
                            <i class="fas fa-align-left"></i>
                        </button>

                    </div>
                </nav>
            </div>

            <div class="" style="flex: 1; height: 20%; overflow: auto">
                <router-outlet></router-outlet>
            </div>
        </div>
<!--        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" *ngIf="!router.url.split('/').includes('login')">-->
<!--            <div class="container-fluid px-0">-->

<!--                <button type="button" id="sidebarCollapse" class="btn btn-info btn-sm" (click)="onSideBarToggle($event)">-->
<!--                    <i class="fas fa-align-left"></i>-->
<!--                </button>-->

<!--            </div>-->
<!--        </nav>-->
<!--        -->
<!--        <router-outlet></router-outlet>-->
<!--        <div class="overlay"></div>-->
    </div>

</div>



