<StackLayout appHideActionBar  class="nt-form"   justifyContent ="center" verticalAlignment="middle">
    <Label  text="Manto Insight" class="h1 text-center" textWrap="true"></Label>
    <TextField height="100px" hint="Uporabniško ime" [(ngModel)]="username" autocorrect="false" autocapitalizationType="none" class="" [disabled]="authInProgress"></TextField>
    <TextField height="100px" hint="Geslo" autocorrect="false" [(ngModel)]="password" autocapitalizationType="none" secure="true" class="" [disabled]="authInProgress"></TextField>
    <Button text="Prijava" class="-primary -rounded-sm"  (tap)="login(username,password)" [disabled]="authInProgress" ></Button>
    <Button text="Nastavitve" class="-primary -rounded-sm" nsRouterLink="/settings" ></Button>
</StackLayout>
