<ActionBar class="m-t-24">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>

    <ActionItem text="Dodaj kontaktno osebo" (tap)="add()" class="fas"
                ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <Label text="Kontaktne osebes"></Label>
</ActionBar>

<!--<GridLayout class="page__content">-->
<!--&lt;!&ndash;    <Label class="page__content-icon fas" text="&#xf2b9;"></Label>&ndash;&gt;-->
<!--&lt;!&ndash;    <Label class="page__content-placeholder" text="&lt;!&ndash; Page content goes here &ndash;&gt;"></Label>&ndash;&gt;-->

<!--</GridLayout>-->
<GridLayout tkExampleTitle tkToggleNavButton>
    <StackLayout orientation="vertical">
        <SearchBar  hint="Vpišite iskalni niz ..."
                    [text]="searchString"
                    (textChange)="onTextChange($event)"
                    (clear)="onClear($event)"
                    (submit)="onSubmit($event)"   backgroundColor="#cfc7c6" >
        </SearchBar>
    <RadListView [items]="data" *ngIf="data && data.length > 0 && !loading" height="100%">
        <ng-template tkListItemTemplate let-item="item" class="list-group" >
            <StackLayout orientation="vertical">
                <Label [nsRouterLink]="[item.id]" class="nameLabel" [text]="item.firstName + ' '+item.lastName" class="list-group-item -separator" ></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
        <Label text="Ni iskalnih zadetkov." *ngIf="!data || data.length === 0 && !loading"></Label>
        <ActivityIndicator width="75" height="75" [busy]="loading" class="loading"></ActivityIndicator>
    </StackLayout>
</GridLayout>
<!--<StackLayout calass="page" height="100%" >-->
<!--    <TextField hint="Iskani niz" keyboardType="email"-->
<!--               autocorrect="false" [(ngModel)]="searchString" autocapitalizationType="none" (ngModelChange)="search()") class="input input-border"></TextField>-->
<!--    <ListView [items]="data" class="list-group">-->
<!--        <ng-template let-item="item">-->
<!--            <Label [nsRouterLink]="['/item', item.ID]" [text]="item.firstName +' '+ item.lastName"-->
<!--                   class="list-group-item"></Label>-->
<!--        </ng-template>-->
<!--    </ListView>-->
<!--    <StackLayout>-->
