<div class="h-100 w-100">
    <div class="h-100 d-flex flex-column">

        <div class="align-items-center p-2 d-flex" style="min-height: 42px">
            <i class="fa fa-fw fa-address-book mr-2" style="color: darkgrey"></i>
            <span style="font-weight: 500">Kontaknte osebe</span>
            <div class="m-vertical-spacer mx-2" style="background-color: #00000022; width: 1px; height: 100%"></div>
            <ejs-textbox
                [value]="searchString"
                (valueChange)="searchString = $event; search($event)"
                placeholder="Iskanje..."
                floatLabelType="Never"
            ></ejs-textbox>
        </div>
<!--        <ng-container *ngFor="let contact of data">-->
<!--            &lt;!&ndash; contact item &ndash;&gt;-->
<!--            <div>-->
<!--                <span>{{contact.name}}</span>-->
<!--            </div>-->
<!--        </ng-container>-->
        <div style="flex: 1">
            <ejs-grid
                #contactsGrid
                [dataSource]="data"
                [editSettings]="{allowEditing: true, mode: 'Batch', allowAdding: true, allowDeleting: true}"
                [allowPaging]="true"
                [pageSettings]="pageSettings"
                [toolbar]="['Add', 'Delete']"
                class="m-grid"
                (cellSaved)="onCellSaved($event)"
                (actionBegin)="onActionBegin($event)"
                (beforeBatchAdd)="onBeforeBatchAdd($event)"
                (beforeBatchDelete)="onBeforeBatchDelete($event)"
            >
                <e-columns>
                    <e-column field="id" headerText="ID" [visible]="false" [showInColumnChooser]="false" [isPrimaryKey]="true"></e-column>
                    <e-column field="actionColumn" headerText="" textAlign="Center" [autoFit]="true" width="50px" [allowEditing]="false">
                        <ng-template #template let-data>
                            <div class="d-flex ml-2">
                                <div style="cursor: pointer;  color: #295fcb" (click)="openDetail(data.id)">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </ng-template>
                    </e-column>
                    <e-column field="firstName" headerText="Ime" textAlign="Left" width="*" [allowEditing]="true"></e-column>
                    <e-column field="lastName" headerText="Priimek" textAlign="Left" width="*" [allowEditing]="true"></e-column>
                    <e-column field="mobileNumber" headerText="Mobilni" textAlign="Left" width="*" [allowEditing]="true" [template]="templatePhoneNumber">
                    </e-column>
                    <e-column field="businessNumber" headerText="Službeni" textAlign="Left" width="*" [allowEditing]="true" [template]="templatePhoneNumber">
                    </e-column>
                    <e-column field="businessNumberCentral" headerText="Službeni - centrala" textAlign="Left" width="*" [allowEditing]="true" [template]="templatePhoneNumber">
                    </e-column>
                    <e-column field="email1" headerText="Email" textAlign="Left" width="*" [allowEditing]="true" [template]="emailColumnTemplate">
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>

    </div>
</div>

<!-- phone number column template -->
<ng-template #templatePhoneNumber let-data>
    <div class="d-flex">
        <!-- action -->
        <div class="pr-1 m-grid-prevent-edit" *ngIf="data[data['column']['field']] && data[data['column']['field']].length > 0">
            <a [href]="'tel:' + data[data['column']['field']]">
                <i class="fa fa-phone m-grid-prevent-edit" style="cursor: pointer;"></i>
            </a>
        </div>
        <!-- number -->
        <div style="flex: 1" class="m-break-ellipsis">
            <span>{{data[data['column']['field']]}}</span>
        </div>
    </div>
</ng-template>

<!-- email column template -->
<ng-template #emailColumnTemplate let-data>
    <div class="d-flex">
        <!-- action -->
        <div class="pr-1 m-grid-prevent-edit" *ngIf="data[data['column']['field']] && data[data['column']['field']].length > 0">
            <a [href]="'mailto:' + data[data['column']['field']]">
                <i class="far fa-envelope m-grid-prevent-edit" style="cursor: pointer;"></i>
            </a>
        </div>
        <!-- email -->
        <div style="flex: 1" class="m-break-ellipsis">
            <span>{{data[data['column']['field']]}}</span>
        </div>
    </div>
</ng-template>

<!-- contact detail -->
<ejs-dialog
    #contactDetailDialog
    [showCloseIcon]="true"
    [isModal]="true"
    width="600px"
    height="100%"
    [position]="{ X: 'right', Y: 'top' }"
    [visible]="false"
    cssClass="m-contact-detail"
    title="Podrobnosti"
    style="max-height: 100% !important;"
>
    <ng-template #header>
        <div class="d-flex align-items-center">
            <i class="fa fa-fw fa-address-book mr-2" style="color: darkgrey"></i>
            <div class="e-icon-settings" *ngIf="contactInEdit.id && contactInEdit.id > 0">Uredi kontaktno osebo</div>
            <div class="e-icon-settings" *ngIf="!(contactInEdit.id && contactInEdit.id > 0)">Dodaj kontaktno osebo</div>
        </div>
    </ng-template>
    <ng-template #content>
        <div style="border-top: 1px solid #e6e6e6">
            <ng-container *ngIf="contactInEdit">
                <div class="p-2 d-flex">
                    <ejs-textbox
                        [(value)]="contactInEdit.firstName"
                        placeholder="Ime"
                        floatLabelType="Always"
                        cssClass="mr-1"
                        style="flex: 1"
                    ></ejs-textbox>
                    <ejs-textbox
                        [(value)]="contactInEdit.lastName"
                        placeholder="Priimek"
                        floatLabelType="Always"
                        cssClass="ml-1"
                        style="flex: 1"
                    ></ejs-textbox>
                </div>
                <div class="p-2">
                    <!-- mobile -->
                    <div class="d-flex align-items-center">
                        <a [href]="'tel:' + contactInEdit.mobileNumber" class="mr-2">
                            <i class="fa fa-phone m-grid-prevent-edit" style="cursor: pointer;"></i>
                        </a>
                        <ejs-textbox
                                [(value)]="contactInEdit.mobileNumber"
                                placeholder="Mobilni"
                                floatLabelType="Always"
                                style="flex: 1"
                        ></ejs-textbox>
                    </div>
                    <!-- business -->
                    <div class="d-flex align-items-center">
                        <a [href]="'tel:' + contactInEdit.businessNumber" class="mr-2">
                            <i class="fa fa-phone m-grid-prevent-edit" style="cursor: pointer;"></i>
                        </a>
                        <ejs-textbox
                                [(value)]="contactInEdit.businessNumber"
                                placeholder="Službeni"
                                floatLabelType="Always"
                                style="flex: 1"
                        ></ejs-textbox>
                    </div>
                    <!-- businessNumberCentral -->
                    <div class="d-flex align-items-center">
                        <a [href]="'tel:' + contactInEdit.businessNumberCentral" class="mr-2">
                            <i class="fa fa-phone m-grid-prevent-edit" style="cursor: pointer;"></i>
                        </a>
                        <ejs-textbox
                                [(value)]="contactInEdit.businessNumberCentral"
                                placeholder="Službeni - centrala"
                                floatLabelType="Always"
                                style="flex: 1"
                        ></ejs-textbox>
                    </div>
                </div>
                <div class="p-2">
                    <div class="d-flex align-items-center">
                        <a [href]="'mailto:' + contactInEdit.email1" class="mr-2">
                            <i class="far fa-envelope m-grid-prevent-edit" style="cursor: pointer;"></i>
                        </a>
                        <ejs-textbox
                                [(value)]="contactInEdit.email1"
                                placeholder="Službeni - centrala"
                                floatLabelType="Always"
                                style="flex: 1"
                        ></ejs-textbox>
                    </div>
                </div>
                <div class="p-2">
                    <button ejs-button cssClass="w-100 e-primary" (click)="contactEditSave()" *ngIf="contactInEdit.id && contactInEdit.id > 0">Shrani</button>
                    <button ejs-button cssClass="w-100 e-success" (click)="contactAddNew()" *ngIf="!(contactInEdit.id && contactInEdit.id > 0)">Dodaj</button>
                </div>
            </ng-container>
            <ng-container *ngIf="!contactInEdit">
                <div class="p-2">

                </div>
            </ng-container>

        </div>
    </ng-template>
</ejs-dialog>
